{% extends 'home.html'%}

{% block content %}
<div class="container py-3">
    <h2 class="text-center">Lista de usuarios</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Usuario</th>
            <th scope="col">Profesion</th>
            <th scope="col">Ciudad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tbody>
      </table>
 </div>

{% endblock %}